			  <CTRL>

You have pressed a standard keyboard character.  This key, however,
may be combined with the control key <CTRL> to perform a special
function.  For additional information on control keys press
	<HELP> <CTRL-key>
where key is one of the following: a,b,c,s,v,z,or [.
