#
# .msgrc - automatic variable defines for the 'msg' mailer.
#
# Personalized for ??
# 

# where to save my mail to, default directory
maildir  = ~/Mail

# where to save messages to, default file
mailbox  = ~/Mail/mailbox

# what editor to use
editor   = $EDITOR

# where to save mail if not specified somewhere else
savemail = ~/Mail/mail.sent

# how to print a message ('%s' is the filename)
print    = /usr/local/bin/print -p lpn -f %s

# prefix sequence for including message text in other messages...
prefix = > 

# what headers I DON'T want to see, ever.

weedout  = "Via:"  "Sent:"  "Date:"  "Status:"  "Original"
	   "From"  "Phase"  "Subject:"  "Fruit"  "Sun"
	   "Lat"  "Buzzword"  "Return"  "Posted" "Telephone"
	   "Postal-Address" "Origin" "X-Sent-By-Nmail-V"
	   "Resent" "X-Location"  "Source" "Mood"  "Neuron"
	   "Libido" "To:" "X-Mailer:"  "Full-Name:" "X-HPMAIL"
	   "Cc:" "cc:" "Mmdf" "Network-"

# automatically copy message being replied to into buffer? 
autocopy = OFF

# save a copy of all outbound messages? 
copy     = ON

# emulate the mailx message increment mode (only increment after something
# has been 'done' to a message, either saved or deleted)
resolve  = ON

# enable the weedout list to be read...
weed     = ON

# when messages are copied into the outbound buffer, don't include headers
noheader = ON

# display message title when displaying pages of message
titles	 = ON

# alternative addresses that I could receive mail from (usually a
# forwarding mailbox)

# alternatives = 
