/ fibo.rc	-
/
/	f(0) = 0
/	f(1) = 1
/	f(n) = f(n-1) + f(n-2)
/

$START:	jmz	$TOG	$L2
$HERE:	mov	#$HERE	$TOG	/ toggle tog
	add	$1	$2
	mov	0	@$2
	jmp	$START
$L2:	mov	1	$TOG
	add	$2	$1
	mov	0	@$1
	jmp	$START
$TOG:	dat		0
$1:	dat		1
$2:	dat		1
