/ gemini.rc	- copy program and jump to new copy

	jmp		$START		/jump to start of program
$SRC:	dat		0		/pointer to source address
$DST:	dat		99		/pointer to dest. address
$START:	mov	@$SRC	@$DST		/copy source to dest.
	cmp	$SRC	#11		/if all 10 lines have been copied...
	jmp	$DONE			/...then leave the loop
	add	#1	$SRC		/otherwise, increment the source address
	add	#1	$DST		/...and the dest. address
	jmp 	$START			/...and return to the loop
$DONE:	mov	#99	93		/restore the starting dest. address
	jmp	93			/jump to the new copy
