/ random.rc	- drop bombs in random places (slightly suicidal)

$START:	rnd		$WHERE		/ set bomber address
	mov	0	@$WHERE		/ drop bomb
	jmp		$START		/ let's do it again!
$WHERE:	dat		0		/ where to drop the bomb
