/
/ stomper.rc	- son of dwarf and gemini (he's a mover and he's aggressive)
/
	jmp		$START		/jump to start of program
$SRC:	dat		0		/pointer to source address
$DST:	dat		191		/pointer to destination address
$START:	mov	@$SRC	@$DST		/copy source to destination
	cmp	$SRC	#13		/if all 10 lines have been copied...
	jmp	$DONE			/...then leave the loop
	add	#1	$SRC		/otherwise, increment the source address
	add	#1	$DST		/...and the destination address
	add	#8	$BOMB		/increment bomber address
	mov	#0	@$BOMB		/drop bomb
	jmp 	$START			/...and return to the loop
$DONE:	mov	#4	@$DST		/reset bomber address
	mov	#191	182		/restore the starting destination address
	jmp	182			/jump to the new copy
$BOMB:	dat		4
