[d:Change Directory]             [s:/] [p:-c][a:{directory (RETURN for home)}]
[d:Change to parent directory]   [s:0] [p:-0]
[d:Documentation on commands]    [s:?] [p:-d]
[d:Execute command]              [s:!] [p:-s][a:{command}]
[d:Flip to/from this display]    [s:&] [p:-f]
[d:Go to UNIX (top) workbench]   [s:.] [p:-u]
[d:Go to UNIX workbench & return][s::] [p:-a]
[d:Go to parent workbench]       [s:,] [p:-p]
[d:Next directory page]          [s:+] [p:-+]
[d:Previous directory page]      [s:-] [p:--]
[d:Print value of string]        [s:#] [p:-i][a:{string (RETURN for table of variables)}]
[d:Redisplay screen]             [s:][p:-r]
[d:Set variable]                 [s:$] [p:-v][a:{variable name}={value}]
