PRE
Zy
Cryo
Iso
Isa
Vidi
Tera
Micro
Video
Dyna
Amphi
Omni
Tele
Graphi
Uni
Multi
Pixa
Mega
Nano
Techni
Giga
Para
Geo
Compu
Xeno
Digi
Intel
Meta
Robo
Intelli
Ray
Ortho
Electro
Aero
Pyra
Centi
Deci
Milli
Data
Termi
%
SUF
tex
tron
tronic
meter
science
test
systems
sonic
sonics
sys
fonics
phon
phonics
thon
theon
con
sat
vac
matics
dyne
mips
matic
tek
tech
corp
plex
tel
set
vision
point
%
CORP
Corp.
Corp.
Inc.
Inc.
Inc.
Ltd.
Ltd.
GmBH
%
THINGS
Scientific
Industries
Systems
Information Systems
Graphics
Technologies
High Technology
Advanced Technologies
Products
Manufacturing
Propulsion
Cryogenics
%
LTR
A
A
A
A
A
B
C
D
E
E
E
E
E
F
G
G
H
I
I
I
I
I
J
K
L
M
N
O
O
O
O
O
P
P
Q
R
S
T
U
U
U
U
U
V
W
X
X
X
X
X
X
Y
Y
Y
Y
Z
Z
Z
%
CODE
LTR|LTR|LTR, CORP\
LTR|LTR|LTR PRE|SUF, CORP\
LTR|LTR|LTR THINGS, CORP\
PRE|SUF\
PRE|SUF\
PRE|SUF THINGS\
PRE|SUF THINGS, CORP\
%
