#This is a sample config file (with more comments than a real config file
#would contain, of course).  First, we list all the possible entries.
#
#Lines in the setup file consist of a name followed by a value.  The various
#types of values are string, indicated by "str", integer, indicated by "int",
#and boolean, indicated by "bool".  The default value, if any, is indicated
#by DFT.  In certain cases, there is a default which is assigned when a null
#value is given for the value.  If the value is boolean, the default is "yes",
#other defaults for null values are indicated by NDFT.
#
#
#NAME	   TYPE	DESCRTIPTION
#admin	   str	Netnews administrator.  (DFT is your login name)
#admsub	   str	Mandatory subscription list.  DFT general,all.announce
#bin	   str	Directory where programs (e. g. inews) placed.  DFT /usr/bin
#buflen	   int	Length of various bufs.  DFT 128 if small, else 256
#compadmin bool	Recompute the numeric admin id each time program run.  DFT no
#datelen   int	Max length of date.  DFT 48
#dfteditor str	Default editor program.  DFT /bin/ed
#dftexp    int	Default expiration time in days.  DFT 14
#dftsub	   str	Default subscription list.  DFT all
#fpathlen  int	Max length of file path name.  DFT 64
#ghname	   bool	True if system has gethostname call.  DFT yes if 4.2bsd.
#home	   str	Lib and spool are relative to this user's home directory.
#internet  bool True if mailer understands internet addresses.  DFT yes
#lbuflen   int	Length of large buffer.  DFT 1024
#lib	   str	Directory for misc netnews files.  DFT /usr/lib/news
#mailer	   str	Mail program.  DFT /bin/mail
#manually  bool	Require that admin remove groups manually.  DFT yes
#maxgroups int	Maximum number of newsgroups.
#mydomain  str	Appended to sys name to get domain name.  This entry mandatory.
#myname	   str	System name.  Computed at run time if omitted.
#myorg	   str	Organization name.  This entry mandatory.
#namelen   int	Max length of internet address or messge ID.  DFT 64
#newsgrp   str	Group of news software.  This entry is mandatory.
#newsrc	   str	Name of newsrc file.  DFT .newsrc
#newsusr   str	Owner of news software.  This entry is mandatory.
#notify	   str	Inform person about certain control messages.  NDFT admin
#page	   str	Pager program.  NDFT /usr/ucb/more
#path	   str	Path use by setup to find various programs.  DFT $PATH
#pathlen   int	Max length of return path.  DFT 512
#small	   bool	True if 16 bit address space.  DFT yes if on pdp11.
#spool	   str	Directory where articles stored.  DFT /usr/spool/news
#sys	   str	Operating system version.  (Guessed by default)
#termcap   str	Name of termcap library.  (Guessed by default)
#tmail	   str	Mailer that understands -t option.  NDFT /usr/lib/sendmail
#umask	   int	Umask value; use 022 for secure system.  DFT 000
#uname	   bool	True if system has uname system call.  DFT yes if USG system.
#v7mail	   bool	True if use Version 7 mail format.  DFT yes


# OK, now to give our config entries.
# First we give the required ones.

# The login and group owning the netnews software.
newsusr netnews
newsgrp other

# The name of my organization.
myorg	AT&T Bell Labs, Holmdel

# My domain.
mydomain .UUCP

# The remaining entries are not required by the setup program.

# Use a standard path for the rest of setup
path	/bin:/usr/bin:/usr/lbin

# We don't have room in the /usr file system for the spool directory,
# so we place it elsewhere.
spool /tools/netnews/spool

# Since I am running the setup program, this is unnecessary, but it is
# safer to include it in case somebody else recompiles the news software
# for some reason
admin ka

# I want to be told about create and rmgrp control messages.  Since I am
# the person running the config program, they will be sent to me by default.
notify

# Mandatory subscripts are fascist, so no mandatory subscriptions on hou3c.
admsub

# End of sample config file.
